@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #ffffff;
  color: #000000;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  margin-top: 42px;
  overflow: hidden;
  border: 1px solid orange;
  box-sizing: border-box;
}

.main-content.nav-hidden {
  margin-top: 0;
  height: 100vh;
  border: 0px;
  box-sizing: content-box;
}

.problem-view {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
